<!DOCTYPE html>
<html>
  <head>
    <title>Kendrick's first website</title>
    <link rel="icon" href="http://www.freeiconspng.com/uploads/little-funny-penguin-png-2.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>World's Best Animal!</h1>


  <div id="facts">
    <h3>Random Penguin Facts</h3>
    <ul>
      <li>
        Usually, penguins return to the same place every year to nest.
      </li>
      <li>
        All 17 species of penguins are found exclusively in the Southern Hemisphere.
      </li>
      <li>
        To conserve heat, penguins may tuck in their flippers close to their bodies.
      </li>
      <li>
        No penguins live at the North Pole.
      </li>
      <li>
        The smallest penguin is the little blue or fairy penguin.
      </li>
      <li>
        The largest penguin you will ever see trundling around the Antarctic is the emperor.
      </li>
    </ul>
  </div>

  <img src="https://assets.rbl.ms/6639515/980x.jpg" alt="Majestic group of penguins enjoying brisk, cold weather and raising their beaks to their lord and savior Anthropornis nordenskjoeldi">

  </body>

</html>
