<!DOCTYPE html>
<html>
  <head>
    <title>Kendrick's first website</title>
    <link rel="icon" href="http://www.freeiconspng.com/uploads/little-funny-penguin-png-2.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="parallax_section parallax_image_first">
      <div class="center", id="first">
        <article>The Emperor Penguin is the tallest penguin standing nearly 4 feet tall.  </article>
        </div>
      </div>
    <!--Block with content-->
    <div class="parallax_section parallax_image_second">
      <div class="center", id="second">
        <article>They are majestic.  </article>
        </div>
      </div>
    <!--Block with content-->
    <div class="parallax_section parallax_image_third">
      <div class="center", id="third">
        <article>The smallest penguin is the Fairy Penguin standing at about 16 inches.  </article>
        </div>
      </div>
    </div>

    <div class="parallax_section parallax_image_fourth">
      <div class="center", id="fourth">
        <article>All 17 species of penguin live in the southern hemisphere.  </article>
        </div>
      </div>
    </div>

    <div class="parallax_section parallax_image_fifth">
      <div class="center", id="fifth">
        <article>Believe it or not, Penguins are flightless birds.  </article>
        </div>
      </div>
    </div>

  </body>

</html>
