<!DOCTYPE html>
<html>
  <head>
    <title>Kendrick's penguin page</title>
    <link rel="icon" href="http://www.freeiconspng.com/uploads/little-funny-penguin-png-2.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div class="parallax_section parallax_image_first">
      <div class="center", id="first">
        <article>The Emperor Penguin is the tallest penguin standing nearly 4 feet tall.  </article>
        </div>
      </div>

    <div class="parallax_section parallax_image_second">
      <div class="center", id="second">
        <article>They are <b>majestic.</b>  </article>
        <p>
          Penguins just look the best.
        </p>
        </div>
      </div>

    <div class="parallax_section parallax_image_third">
      <div class="center", id="third">
        <article>The smallest penguin is the <u>Fairy Penguin</u> standing at about 16 inches.  </article>
      </div>
    </div>

    <div class="parallax_section parallax_image_fourth">
      <div class="center", id="fourth">
        <article>All 17 species of penguins live in the southern hemisphere.  </article>
        <ul>
          <li>
            Contrary to popular belief, No penguins live at the North Pole
          </li>
          <li>
            Penguins can be found on every continent in the southern hemisphere.
          </li>
        </ul>
        <a href="http://www.penguinworld.com/types/">All types of penguins.</a>
      </div>
    </div>

    <div class="parallax_section parallax_image_fifth">
      <div class="center", id="fifth">
        <article>Believe it or not, Penguins are flightless birds.  </article>
      </div>
    </div>

    <div class="parallax_section parallax_image_sixth">
      <div class="center", id="sixth">
        <article>Penguins are fantastic swimmers and can swim four to six miles per hour.  </article>
        <ol>
          Gentoo can reach <i>22</i> mph!
        </ol>
      </div>
    </div>

  </body>

</html>
